.wrapper {
  padding-top: 30px;
 
}

body h3 {
  margin-bottom: 25px;
}

.navbar-brand a {
  color:azure;
}

.form-wrapper,
.table-wrapper {
  max-width: 500px;
 margin: 0 auto;
  
}

.table-wrapper {
  max-width: 700px;
 
}

.edit-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: rgb(228, 220, 222);
  background-color: #4027ce;
  border-color: #3f25b4;
  margin-right: 10px;
  position: relative;
  top: 1px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.edit-link:hover {
  text-decoration: none;
  color: #18cf30;
}